* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #57380F;
}

body{
    background-color: burlywood;
}

html{
    font-size: 16px;
    margin-top: 3em;
}

header, main, footer{
    max-width: 920px;
    margin: 0 auto;
    padding: 1em;
    background: #D68924;
}

main{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

h1, h2, h3{
    color: #57380F;
}

header{
    padding: 2em 1em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#aboutMe img{
    width: 200px;
    margin: 30px 5px 10px 15px;
}
#Headshot{
    float: right;
    border-radius: 7px;
}

header h1{
    font-size: 3em;
}

header span{
    font-size: 1.5em;
    color: #57380F;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8A5918;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

nav a{
    color: #57380F;
    text-decoration: none;
    padding: .5em 2em;
    background: #D68924;
}

nav a:hover{
    background: #8A5918;
}

section{
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
}


section > p{
    margin: 1em 0;
}

section ul{
    padding-left: 1.5em;
}

footer{
    margin-top: 2em;
    margin-bottom: 1em;
    background: #D6A565;
    color: #57380F;
    padding: 1em 0;
    text-align: center;
    border-radius: 17px;
}

#projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
}

#projects h3{
    padding-left: 0.5em;
}

#projects article{
    padding: 1em;
}

.demos{
    background: rgb(153, 146, 146);
    border-radius: 15px;
}

#projects article img{
    width: 100%;
    max-height: 375px;
    border: 1px solid #8A5918;
    object-fit: cover;
}

#contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#contact > h2{
    grid-column: 1/4;
}

#contact > p{
    grid-column: 1/4;
}

#contact > img{
    margin: auto;
    width: 150px;
    border-radius: 12px;
}

#LinkedIn{
    background: white;
    border-radius: 12px;
}